.spanish{
background-image: url(img/index.jpg);
height: 200px;
width: 275px;
background-repeat:no-repeat
}

.italian{
    background-image: url(img/image.jpg);
}

head{

    justify-content: center;
}
 .body{
     justify-content: center;
 }