
body{
    background:linear-gradient(135deg, rgba(83, 83, 152, 0.6), rgba(56,57,137,0.8)), url('image/imgfond.jpeg');
    padding: 3px;
    background-size: 150%;
    background-repeat: no-repeat;
    


}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    color: honeydew;
    font-size: x-small;
    font-family: "poppins";

    
    
}
button{
    background-color: olivedrab;
    color: oldlace;
    font-family:"poppinslight";
    display: block;
    border:none;
    width: 95%; 
    padding: 5px ;
    

  

}
 

input[type=text]{
    width: 95%;
    
    

}

.com{
    display: block;
    text-align: left;
}


select{
    width: 98%;
    padding-top: 2px;
    
    
    
}

textarea{
    width: 95%;
    margin-bottom: 20px;
    margin-top: -9px;
    
    
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    color: honeydew;
    background-color: rgba(38,39,70,0.85);
    margin: auto;
    width: 44%;    
    
}

#infobulle{

    position:absolute;
    top:0px;
    left:0px;
    color: white;
    background-color: rgba(161,147,251,0.2);
    
    display:none;
    
    
}

    
    
    